@font-face {
  font-family: 'PPNeueMachina';
  src: url('fonts/PPNeueMachina-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
width: 1366px;
height: 768px;
font-family: 'PPNeueMachina', sans-serif; /* Добавлен fallback */
background-color: #000; /* Используйте hex-код для точности */
margin: 0;
padding: 0;
overflow-x: hidden;
}

.container {
width: 1200px;
height: 100vh; /* Высота контейнера на всю высоту экрана */
display: contents; /* Убедитесь, что это поведение подходит для вашего случая */
position: absolute;
}

.logo {
position: absolute;
width: 67px;
height: 64px;
left: 150px;
top: 19px;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 48px;
  position: absolute;
  width: 559px;
  height: 21px;
  left: calc(50% - 559px / 2 + 217.5px);
  top: 40px;
  color: aliceblue;
  
  font-family: 'PPNeueMachina', sans-serif; /* Добавлен fallback */
  font-size: 20px;
  font-weight: 400;
  line-height: 20.5px;
  text-align: left;
  
  }

  .menu a {
    text-decoration: none; /* Убирает подчеркивание */
    color: aliceblue; /* Цвет текста ссылок */
    transition: color 0.3s; /* Плавное изменение цвета при наведении */
  }
  
  .about-us {
    /* о нас */
  
  width: 61px;
  height: 21px;
  
  font-family: 'PP Neue Machina';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height */
  text-transform: capitalize;
  
  color: #E5E5E5;
  
  
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  
  }

  .projects {
    /* Проекты */
  
  width: 88px;
  height: 21px;
  
  font-family: 'PP Neue Machina';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height */
  text-transform: capitalize;
  
  color: #E5E5E5;
  
  
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  
  }

  .services {
  /* услуги */
  
  width: 67px;
  height: 21px;
  
  font-family: 'PP Neue Machina';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height */
  text-transform: capitalize;
  
  color: #E5E5E5;
  
  
  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
  }
  
  .merch {
    /* Мерч */
  
  width: 55px;
  height: 21px;
  
  font-family: 'PP Neue Machina';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height */
  text-transform: capitalize;
  
  color: #E5E5E5;
  
  
  /* Inside auto layout */
  flex: none;
  order: 3;
  flex-grow: 0;
  
  }
  
  .contacts {
    /* контакты */
  
  width: 96px;
  height: 21px;
  
  font-family: 'PP Neue Machina';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height */
  text-transform: capitalize;
  
  color: #E5E5E5;
  
  
  /* Inside auto layout */
  flex: none;
  order: 4;
  flex-grow: 0;
  }

.heading {
display: flex;
flex-direction: column;
align-items: flex-start;
position: absolute;
left: 50%;
top: 15%;
color: aliceblue;

}

.h1, .h2 {
font-family: 'PPNeueMachina', sans-serif; /* Использование одного шрифта */
text-align: center;
}

.h1 {
font-size: 100px;
font-weight: 400;
line-height: 102.5px;
text-transform: uppercase;
  color: rgba(255,0,0,0.1);
  font-size: 190px;
  text-transform: uppercase;
  font-weight: 700;
  background-size: cover;
  background-image: url(img/background_gradient.svg);
  -webkit-background-clip: text;
  opacity: 75%;
  animation: background-text-animation 60s linear infinite;
}

@keyframes background-text-animation {
  0%{
    background-position: left 0px top 50%;
  }
  50%{
    background-position: left 1500px top 50%;
  }
  100%{
    background-position: left 0px top 50%;
  }
}


.h2 {
font-size: 40px;
font-weight: 400;
line-height: 44px;
}

.italic {
font-style: italic;
}

.pic {
position: absolute;
width: 542.66px;
height: 768px;
background: url('img/brucehe.png') no-repeat center center; /* Убедитесь, что путь к изображению верен */
background-size: cover; /* Обеспечивает масштабирование изображения */
left: 300px;
top: 84.33375px;

z-index: -1;
}

.button_text {
text-decoration: none;
color: inherit;
box-sizing: border-box;
display: flex;
justify-content: center;
align-items: center;
padding: 12px 56px;
gap: 10px;
width: 281px;
height: 45px;
border: 5px solid #fff;
border-radius: 40px;
background-color: transparent;
cursor: pointer;
}

.button_text:hover {
background-color: rgba(85, 222, 222, 0.478); /* Легкий фон при наведении */
}

.offerings {
  /* offerings */

position: absolute;
width: 1200px;
height: 100vh;
align-items: center;

top: center;
left: 341.5px;

}

.background-image-blur {
  position: absolute;
  z-index: -1;

}

.background_gradient {
position: absolute;
width: 542.66px;
height: 768px;
background: url('img/brucehe.png') no-repeat center center; /* Убедитесь, что путь к изображению верен */
background-size: cover; /* Обеспечивает масштабирование изображения */
left: 300px;
top: 84.33375px;
z-index: -1;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%; /* Устанавливаем ширину в процентах от родительского элемента */
  height: auto; /* Автоматическая высота для сохранения пропорций */
}
.map {
  position: absolute;
  top: 25%;
  left: 0%;
}