@font-face {
  font-family: 'PPNeueMachina';
  src: url('fonts/PPNeueMachina-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'PP Neue Machina', sans-serif;
  background-color: rgb(0, 0, 0);
  color: #000000;
  line-height: 1.6;
  overflow-x: hidden;
  animation: fadeIn 3s ease-in-out;
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.container {
  width: 100%;
  height: 100%;
  display: contents;
  position: absolute;
}

.logo {
  position: absolute;
  width: 67px;
  height: 64px;
  left: 150px;
  top: 19px;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 48px;
  position: absolute;
  width: 559px;
  height: 21px;
  left: calc(50% - 559px / 2 + 217.5px);
  top: 40px;
  color: aliceblue;
  
  font-family: 'PPNeueMachina', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20.5px;
  text-align: left;
}

.menu a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: color 0.3s;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Выравнивание элементов по левому краю */
  position: absolute;
  left: 50%; /* Центрирование по горизонтали */
  top: 15%; /* Вертикальное позиционирование */
  /* Сдвиг на 50% ширины блока для выравнивания левого края по центру страницы */
  color: aliceblue;
  text-align: left; /* Выравнивание текста по левому краю */
}

.h1, .h2 {
  text-align: left; /* Текст внутри блоков также выравнивается по левому краю */
  font-family: 'PPNeueMachina', sans-serif;
}

.h1 {
  font-size: 190px;
  font-weight: 700;
  line-height: 102.5px;
  text-transform: uppercase;
  color: rgba(0, 140, 255, 0.1);
  background-size: cover;
  background-image: radial-gradient(circle, #0ff0fc, #6b8eff, #ff00ff, #c83bff, #00ff00, #80ff80, #ffdf00);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: background-text-animation 60s infinite;
}

@keyframes background-text-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



.h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 44px;
}

@keyframes background-text-animation {
  0% {
    background-position: left 0px top 50%;
  }
  50% {
    background-position: left 1500px top 50%;
  }
  100% {
    background-position: left 0px top 50%;
  }
}

.h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 44px;
}

.italic {
  font-style: italic;
}

.pic {
  position: absolute;
  width: 542.66px;
  height: 768px;
  background: url('img/brucehe.png') no-repeat center center;
  background-size: cover;
  left: 300px;
  top: 84.33375px;
  z-index: -1;
}

.about-us {
    /* о нас */
  
  width: 61px;
  height: 21px;
  
  font-family: 'PP Neue Machina';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height */
  text-transform: capitalize;
  
  color: #E5E5E5;
  
  
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  
  }

  .projects {
    /* Проекты */
  
  width: 88px;
  height: 21px;
  
  font-family: 'PP Neue Machina';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height */
  text-transform: capitalize;
  
  color: #E5E5E5;
  
  
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  
  }

  .services {
  /* услуги */
  
  width: 67px;
  height: 21px;
  
  font-family: 'PP Neue Machina';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height */
  text-transform: capitalize;
  
  color: #E5E5E5;
  
  
  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
  }
  
  .merch {
    /* Мерч */
  
  width: 55px;
  height: 21px;
  
  font-family: 'PP Neue Machina';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height */
  text-transform: capitalize;
  
  color: #E5E5E5;
  
  
  /* Inside auto layout */
  flex: none;
  order: 3;
  flex-grow: 0;
  
  }
  
  .contacts {
    /* контакты */
  
  width: 96px;
  height: 21px;
  
  font-family: 'PP Neue Machina';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height */
  text-transform: capitalize;
  
  color: #E5E5E5;
  
  
  /* Inside auto layout */
  flex: none;
  order: 4;
  flex-grow: 0;
  }



.map {
  position: absolute;
  top: 25%;
  left: 0%;
}

/* Адаптация для MacBook Air 13 M1 2020 */
@media (max-width: 2560px) {
  .menu {
    gap: 24px;
  }
  
  .h1 {
    font-size: 120px;
    line-height: 130px;
  }
  
  .h2 {
    font-size: 30px;
  }
  
  .button_text {
    width: 240px;
    height: 40px;
    padding: 10px 48px;
  }
  
  .pic {
    width: 400px;
    height: 600px;
    left: 150px;
    top: 100px;
  }
  
  .offerings {
    width: 1000px;
    left: calc(50% - 500px);
  }
}